.dialogParentDiv {
    width: 100%;
    height: 100%;
    /* height: 500px; */
    display: absolute;
    position: absolute;
    justify-content: center;
    align-items: center;
    display: flex;
}

.dialogBackdrop {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    pointer-events: auto;
}

dialog {
    border: none !important;
    border-radius: 1em;
    padding: 1.5em;
    overflow: visible;
    z-index: 2;
}

dialog:-internal-dialog-in-top-layer::backdrop {
    position: fixed;
    inset: 0px;
    background: rgba(0, 0, 0, 0.3);
}

dialog .closeButtonDiv {
    /* position: inherit; */
    top: -1.5em;
    right: -1.5em;
}

.closeButtonDiv img {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
}

.buttonImage {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.addNewBookDialogDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}

#dialogHeaderText {
    text-align: center;
    margin: 0;
}

h1 {
    font-weight: 500;
}

dialog button {
    padding: 12px 24px;
    border-radius: 1.5em;
    border: 0px;
    text-decoration: none;
    color: white;
    background-color: var(--color-main);
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    width: 8em;
    height: 3em;
    /*
    transition: var(--transition-time);
    */
    cursor: pointer;
}

#searchErrorText {
    position: absolute;
    text-align: center;
    top: 100%;
    left: 0;
    color: red;
    width: 100%;
}

/*
TWO OPTION TOGGLE BUTTON
*/

.TwoOptionToggleBacking {
    background-color: silver;
    padding: 0.25em;
}

.TwoOptionToggle {
    color: black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;

    cursor: pointer;
}

.TwoOptionToggle span.Selected {
    
}

.TwoOptionToggleHighlight {
    height: 100%;
    width: 50%;
    /* width: 100%; */
    position: absolute;
    background-color: white;
    /* box-sizing: border-box; */    
    /* left: 50%; */    
    outline: 0.25em solid var(--color-main);
    transform: translate(0%, 0);
    transition-duration: .1s;
}

.TwoOptionToggleHighlight.Clicked {
    transform: translate(100%, 0);
}

.TwoOptionToggle span {
    padding: 0.5em;
    z-index: 1;
    user-select: none;
}