/*
VARIABLES
*/

:root {
    --color-main: #F28E1C;
    --color-backing: #edf2f8;
    --color-grey: #ccc;

    --borderRadius: 1em;
    --margin-default: 1em;
}

/*
FONT
*/

@font-face {
    font-family:'ZenMaruRegular';
    src: url('font/Zen_Maru_Gothic/ZenMaruGothic-Regular.ttf');
}

@font-face {
    font-family:'ZenMaruLight';
    src: url('font/Zen_Maru_Gothic/ZenMaruGothic-Light.ttf');
}

/*
MAIN CONTENT
*/

body {
    font-family: 'ZenMaruLight';
    margin: 0;
}

.MainWrapper {
    display: grid;
    align-items: center;
    justify-content: center;
    margin: var(--margin-default);
}

.PanelGrid {
    display: grid;
    gap: 1em;
}

/*
TOP HEADER
*/

.HeaderParent {
    display: flex;
    display: grid;
    gap: 0.5em;
    /*
    grid-template-columns: 1fr auto;
    */
    margin: var(--margin-default);
    margin-bottom: 1em;
}

.TitleBanner {
    display: grid;
    grid-template-columns: 1fr auto;
}

.TitleBanner h2 {
    margin: 0;
}

.perfectSquare {
    aspect-ratio: 1 / 1;
}

/*
SEARCH BAR
*/

input[type=text] {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: var(--borderRadius);
    font-size: 16px;
    background-color: white;
    background-image: url('./img/search.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
}

/*
GEAR ICON
*/

.CircleButton {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: var(--color-main);
    padding: 0.25em;
    cursor: pointer;
}

.CircleButton img {
    /* this line forces the icon to be solid white */
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(195deg) brightness(108%) contrast(104%);
}

/*
MAIN WEATHER PANEL
*/

.SideGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    width: 100%;
}

.CenteredImage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.AddNewPanelButton {
    border: solid 0.25em var(--color-grey);
    border-radius: 1em;
    padding: 0.5em;
    font-weight: bolder;
    font-size: x-large;

    cursor: pointer;
}

.WeatherPanel, .WeatherOverviewPanel {
    background-color: var(--color-backing);
    padding: 1em;
    border-radius: var(--borderRadius);

    display: flex;
    flex-direction: column;
    align-items: center;
}

.WeatherOverviewPanel {
    cursor: pointer;
}

.WeatherPanelMainTemperature {
    margin: 0 1em;
}

.WeatherPanelMainTemperature span {
    font-size: xxx-large;
    font-weight: bold;
    font-family: 'ZenMaruRegular';
}

.degreesFloating {
    position: absolute;
}

.WeatherPanelMainTemperature .TemperatureUnitsSymbol {
    font-size: large;
    /* bottom: 0.25em; */
    position: relative;
    left: 0.25em;
}